<hr>
<p>layout: archive
title: &quot;CV&quot;
permalink: /cv/
author_profile: true
redirect_from:</p>
<h2 id="-resume">  - /resume</h2>
<p>{% include base_path %}</p>
<h1 id="education">Education</h1>
<ul>
<li>Ph.D in Physics: Quantum Information, Quantum Information Group @ Autonomous University of Barcelona, 2022-2026 (expected)</li>
<li>M.Sc. in Quantum Science and Technology, Basque Country University, 2020-2021</li>
<li>B.Sc. in Physics, Autonomous University of Barcelona, 2015-2020</li>
<li>B.Sc. in Chemistry, Autonomous University of Barcelona, 2015-2020</li>
</ul>
<h1 id="research-experience">Research experience</h1>
<ul>
<li><p>2022-2026 (expected) Ph.D Student</p>
<ul>
<li>Quantum Information Group (GIQ), Autonomous University of Barcelona</li>
<li>New techniques for verification and identification of quantum states and processes</li>
</ul>
</li>
<li><p>2020-2021 M.Sc. Thesis Student</p>
<ul>
<li>Physics Department, Basque Country University</li>
<li>Bloch Representation on Finite-Dimensional Composite Systems</li>
</ul>
</li>
<li><p>2019-2020 B.Sc. Thesis Student</p>
<ul>
<li>Quantum Information Group (GIQ), Autonomous University of Barcelona</li>
<li>Implementation of SPRT in quantum state discrimination</li>
</ul>
</li>
<li><p>2019-2020: B.Sc. Thesis Student</p>
<ul>
<li>Physical Chemistry Department, University of Seville</li>
<li>Theoretical insight into the PUREX method mechanism</li>
</ul>
</li>
<li><p>July 2019: Visiting Student</p>
<ul>
<li>Physical Chemistry Department, University of Seville</li>
<li><em>ab initio</em> simulations on uranyl, neptunyl and plutonyl extractions in the PUREX method</li>
</ul>
</li>
<li><p>July 2018: Visiting Student</p>
<ul>
<li>Physical Chemistry Department, University of Seville</li>
<li><em>ab initio</em> simulations on aqueous electrolyte solutions</li>
</ul>
</li>
</ul>
<p>[comment]: &lt;&gt; Skills
[comment]: &lt;&gt; ======
[comment]: &lt;&gt; <em> Skill 1
[comment]: &lt;&gt; </em> Skill 2
[comment]: &lt;&gt;   <em> Sub-skill 2.1
[comment]: &lt;&gt;   </em> Sub-skill 2.2
[comment]: &lt;&gt;   <em> Sub-skill 2.3
[comment]: &lt;&gt; </em> Skill 3</p>
<h1 id="publications">Publications</h1>
  <ul>{% for post in site.publications reversed %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>

<h1 id="talks">Talks</h1>
  <ul>{% for post in site.talks reversed %}
    {% include archive-single-talk-cv.html  %}
  {% endfor %}</ul>

<h1 id="teaching">Teaching</h1>
 <ul>{% for post in site.teaching reversed %}
    {% include archive-single-teaching-cv.html %}
  {% endfor %}</ul>